.container {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-color: #e8e4df;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #8d8480; */
}

.heading {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #4a301e;
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4a301e;
}
a {
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4a301e;
}
form {
  width: 85%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #c5b5a6;
  background-color: #c5b5a6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10%;
}

.form-group input,
.form-group textarea {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
input,
textarea {
  color: #423025;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #423025;
  color: #423025;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 5px rgba(66, 48, 37, 1);
}
input::placeholder,
textarea::placeholder {
  color: #685850;
}
#endDate {
  color: #685850;
}

.btn {
  width: 100%;
  height: 50px;
  padding: 10px;
  /* border-color: #423025; */
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #bebbba;
  background-color: #423025;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #120b07;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 5px;
}
.checkbox label {
  display: block;
  font-size: 16px;
}
#completed input {
  display: block;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* .checkbox > input {
  display: block !important;
  width: 80% !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  font-size: 14px !important;
} */

/* .btn {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #bebbba;
  background-color: #423025;
}

.btn-primary:hover {
  background-color: #120b07;
} */
