<div class="main">
  <div class="wholetask">
    <div class="checkbox">
      <input
        type="checkbox"
        id="completed"
        name="completed"
        value="Completed"
        [checked]="task.completed"
        (change)="changeStatus()"
      />
      <label for="completed">Completed</label>
    </div>
    <h2>{{ task.title }}</h2>
    <div>{{ task.description }}</div>
    <div class="datediv">
      <div>End Date:</div>
      <div *ngIf="task.endDate; else notApplicable" style="color: #4a301e">
        {{ task.endDate | date : "yyyy-MM-dd" }}
      </div>
      <ng-template #notApplicable
        ><span style="color: #4a301e">Not Applicable</span></ng-template
      >
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-primary" (click)="onDelete()">
        Delete
      </button>
      <button type="button" class="btn btn-primary" (click)="onEdit()">
        Update
      </button>
    </div>
  </div>
</div>
