body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #4a301e;
}
.container {
  background-color: #e8e4df;
  min-height: 100svh;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.Taskstitle {
  text-decoration: none;
  font-weight: bold;
  color: #4a301e;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  background-color: #4a301e;
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  left: 0;
  right: 0;
  top: 0;
}
img {
  width: 5%;
  min-width: 40px;
}
.app-name {
  font-weight: bold;
  margin-right: auto;
  color: #e8e4df;
  font-size: 24px;
}

button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
/* .btn {
  padding: 10px 20px;
  color: white;
  background-color: #4a301e;
} */
.btn:hover {
  color: #fff;
  background-color: #120b07;
}
.btn {
  padding: 10px 10px;
  color: #4a301e;
  background-color: #c5b5a6;
  margin: 5px;
}
.logout:hover {
  color: #423025;
  background-color: #8d8480;
}
.logout-col {
  background-color: #d9b8b8;
  color: #592828;
}
.logout-col:hover {
  background-color: #8c4646;
  color: #ffffff;
}

/* .container {
  flex: 1;
  padding: 20px;
  background-color: #e8e4df;
} */

.section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-of-tasks {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}
@media (width <400px) {
  .list-of-tasks {
    margin-top: 0;
  }
}

.task {
  background-color: #c5b5a6;
  padding: 8px;
  margin: 16px;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

/* .logout {
  background-color: #d9534f;
  color: white;
}

.add-task button {
  background-color: #5bc0de;
  color: white;
} */
