body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #4a301e;
}
.container {
  background-color: #4a301e;
}
.Taskstitle {
  text-decoration: underline;
  margin-left: 20vw;
  color: #4a301e;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  background-color: #4a301e;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
img {
  width: 5%;
  min-width: 40px;
}
.app-name {
  font-weight: bold;
  margin-right: auto;
  color: #bebbba;
  font-size: 24px;
}

button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.btn {
  padding: 10px 20px;
  color: white;
  background-color: #4a301e;
}
.btn:hover {
  color: #8d8480;
  background-color: #120b07;
}
.logout {
  padding: 10px 10px;
  color: #4a301e;
  background-color: #bebbba;
  margin: 5px;
}
.logout:hover {
  color: #423025;
  background-color: #8d8480;
}

.container {
  flex: 1;
  padding: 20px;
  background-color: #bebbba;
}

.section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-of-tasks {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.task {
  background-color: #8d8480;
  padding: 8px;
  margin: 16px;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* .logout {
  background-color: #d9534f;
  color: white;
}

.add-task button {
  background-color: #5bc0de;
  color: white;
} */
