<div class="main">
  <nav class="nav">
    <img src="../../assets/theTaskApp.png" alt="Logo" class="logo" />
    <h1 class="app-name">The Task App</h1>
    <button type="button" class="btn" (click)="onAddTask()">Add Task</button>
    <button class="btn logout-col" type="button" (click)="onLogout()">
      Log Out
    </button>
  </nav>
  <div class="container">
    <br />
    <br />
    <h1 class="Taskstitle">Tasks</h1>
    <div class="list-of-tasks" *ngFor="let task of tasks">
      <app-task class="task" [task]="task"></app-task>
    </div>
  </div>
</div>
